* {
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

ul {
  padding: 0;
}

.single_username {
  display: flex;
  width: 99vw;
}

.single_username div:first-of-type {
  width: 25vw;
  height: 20vw;
  border: solid;
  border-width: 2px;  
  margin-top: 9px;
}

.single_username div:first-of-type hr:first-child{
  width: 31vw;
  transform: rotate(39deg);
  transform-origin: 13px -2px;
  border: solid;
  border-width: 1px;
}
.username {
  display: flex;
  border: solid;
  border-width: 2px;
  margin: 10px;
  border-color: black;
}

.username p:first-child {
  margin: 5px;
  font-size: 5vw;
}

.username p:last-child {
  font-size: 3vw;
  font-weight: 500;
  padding-top: 32px;
  padding-right: 6px;
}

.single_username div:first-of-type hr:last-of-type{
  width: 32vw;
  transform: rotate(142deg);
  transform-origin: 13.7vw 1.6vw;
  border: solid;
  border-width: 1px;
}

.bio {
  border: solid;
  border-width: 2px;
  margin-top: 20px;
  width: 94vw;
  border-color: black;
}

.bio p {
  padding: 7px;
}

.post_data {
  border: solid;
  border-width: 2px;
  margin-top: 20px;
  width: 92vw;
  border-color: black;
  padding-left: 7px;
}

.post_data .text {
  font-size: 16px;
}

h2 {
  font-size:15px;
}

.post_data .reactions p{
  font-size: 10px;
  
}

.post_data .reactions {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

@media only screen and (min-width: 346px){
  .single_username div:first-of-type hr:last-of-type {
    display:none;
  }
}